<ul class="countries__list">
    {{#each this}}
    <li class="countries__list-item">
        <img class="countries__flag" src="{{this.flag}}" alt="{{this.name}}" width="35">
        {{this.name}} - {{this.nativeName}}
    </li>
    {{/each}}
</ul>